<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players select</title>
    <link rel="stylesheet" href="/css/FormsStyle.css" />
  </head>
  {{> header}}
  <body>
    <form action="/teams/add" method="post">
      <label for="teamName">Name</label>
      <input type="text" name="name" id="teamName" required />

      <label for="player1">Player 1</label>
      <select
        name="player1Id"
        id="player1"
        onchange="updateSelection()"
        required
      >
        {{#players}}
        <option value="{{id}}" data-name="{{name}}" data-surname="{{surname}}">
          {{id}} - {{name}} {{surname}}
        </option>
        {{/players}}
      </select>

      <label for="player2">Player 2</label>
      <select
        name="player2Id"
        id="player2"
        onchange="updateSelection()"
        required
      >
        {{#players}}
        <option value="{{id}}" data-name="{{name}}" data-surname="{{surname}}">
          {{id}} - {{name}} {{surname}}
        </option>
        {{/players}}
      </select>

      <h3>Selected players:</h3>
      <p id="selectedPlayers">None</p>

      <input type="submit" value="Create team" />
    </form>

    <script>
      function updateSelection() {
        const player1 = document.getElementById("player1");
        const player2 = document.getElementById("player2");

        const player1Name =
          player1.options[player1.selectedIndex].getAttribute("data-name");
        const player1Surname =
          player1.options[player1.selectedIndex].getAttribute("data-surname");

        const player2Name =
          player2.options[player2.selectedIndex].getAttribute("data-name");
        const player2Surname =
          player2.options[player2.selectedIndex].getAttribute("data-surname");

        const selectedPlayers =
          player1Name && player1Surname && player2Name && player2Surname
            ? `${player1Name} ${player1Surname} and ${player2Name} ${player2Surname}`
            : "None";

        document.getElementById("selectedPlayers").textContent =
          selectedPlayers;
      }
    </script>
  </body>
</html>
