<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players select</title>
    <link rel="stylesheet" href="/css/FormsStyle.css" />
  </head>
  {{> header}}
  <body>
    <form action="/tournaments/add" method="post">
      <label for="tournamentName">Name</label>
      <input type="text" name="name" id="tournamentName" required />

      <label for="dateT">Match date:</label>
      <input type="date" name="dateT" id="dateT" required />

      <label for="givenPoints">Given points</label>
      <input type="text" name="givenPoints" id="givenPoints" required />

      <label for="prizeMoney">Prize money (€)</label>
      <input type="text" name="prizeMoney" id="prizeMoney" required />

      <label for="location">Location</label>
      <select name="location" id="location" required>
        <option value="Madrid">Madrid</option>
        <option value="Paris">Paris</option>
        <option value="London">London</option>
        <option value="New York">New York</option>
        <option value="Rome">Rome</option>
        <option value="Miami">Miami</option>
        <option value="Montecarlo">Montecarlo</option>
        <option value="Buenos Aires">Buenos Aires</option>
        <option value="Sao Paulo">Sao Paulo</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
        <option value="Doha">Doha</option>
      </select>

      <label for="surface">Surface:</label>
      <select name="surface" id="surface" required>
        <option value="CLAY">Clay</option>
        <option value="GRASS">Grass</option>
        <option value="HARD">Hard</option>
        <option value="INDOOR">Indoor</option>
      </select>

      <label for="match1">Match 1:</label>
      <select name="match1Id" id="match1" required>
        {{#matches}}
        <option value="{{id}}" data-id="{{id}}">
          {{homeTeam.name}} vs {{awayTeam.name}}
        </option>
        {{/matches}}
      </select>

      <label for="match2">Match 2:</label>
      <select name="match2Id" id="match2" required>
        {{#matches}}
        <option value="{{id}}" data-id="{{id}}">
          {{homeTeam.name}} vs {{awayTeam.name}}
        </option>
        {{/matches}}
      </select>

      <label for="match3">Match 3:</label>
      <select name="match3Id" id="match3" required>
        {{#matches}}
        <option value="{{id}}" data-id="{{id}}">
          {{homeTeam.name}} vs {{awayTeam.name}}
        </option>
        {{/matches}}
      </select>

      <label for="match4">Match 4:</label>
      <select name="match4Id" id="match4" required>
        {{#matches}}
        <option value="{{id}}" data-id="{{id}}">
          {{homeTeam.name}} vs {{awayTeam.name}}
        </option>
        {{/matches}}
      </select>

      <input type="submit" value="Create tournament" />
    </form>
  </body>
</html>
