<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/indexStyle.css" />
  </head>
  <body>
    <main class="container">
      <section class="card">
        <h2 class="section-title">Next matches</h2>
        <div class="match-container">
          {{#matches}}
          <a href="/matches/{{id}}"
            ><div class="match">{{homeTeam.name}} vs {{awayTeam.name}}</div></a
          >
          {{/matches}}
          <a href="/matches/list"
            ><div class="match"><strong>Show more...</strong></div></a
          >
        </div>
      </section>

      <div class="grid">
        <section class="card">
          <h2 class="section-title">Ranking</h2>
          <ul class="ranking-list">
            {{#teams}}
            <a href="/teams/{{id}}"
              ><li><strong>{{ranking}}.</strong> {{name}}</li></a
            >
            {{/teams}}
            <a href="/teams/list"
              ><li class="show-more"><strong>Show more...</strong></li></a
            >
          </ul>
        </section>

        <section class="card">
          <h2 class="section-title">Upcoming Tournaments</h2>
          <ul class="ranking-list">
            {{#tournaments}}
            <a href="/tournaments/{{id}}"><li>{{name}} - {{dateT}}</li></a>
            {{/tournaments}}
            <a href="/tournaments/list"
              ><li class="show-more"><strong>Show more...</strong></li></a
            >
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
