<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/FormsStyle.css" />
  </head>
  {{>header}}
  <body>
    <form action="/login" method="POST">
      <p>Username</p>
      <input type="text" name="username" required />

      <p>Password</p>
      <input type="password" name="password" required />

      <input type="submit" value="Sign In" />
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </form>
      <p>Don't have an account? <a href="/users/register">Sign Up</a></p>
    </form>
  </body>
</html>
