<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Match details</title>
    <link rel="stylesheet" href="/css/DetailsStyle.css" />
    <style>
      th:nth-child(1),
      td:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 20%;
      }
    </style>
  </head>
  {{> header}}
  <body>

    <div class="table-container">
      <table>
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{match.id}}</td>
          </tr>
          <tr>
            <td>Home team</td>
            <td>
              <a href="/teams/{{match.homeTeam.id}}"
                >{{match.homeTeam.name}}</a
              >
            </td>
          </tr>
          <td>Away team</td>
          <td>
            <a href="/teams/{{match.awayTeam.id}}"
              >{{match.awayTeam.name}}</a
            >
          </td>
          <tr>
            <td>Date</td>
            <td>{{match.dateM}}</td>
          </tr>
          <tr>
            <td>Surface</td>
            <td>{{match.surface}}</td>
          </tr>
          <tr>
            <td>Score</td>
            <td>{{match.score}}</td>
          </tr>
        </tbody>
      </table>
      <form
          id="deleteForm"
          action="/matches/delete/{{match.id}} "
          method="post"
        >
          <button
            type="button"
            onclick="confirmDelete()"
            style="
              background-color: red;
              color: white;
              padding: 10px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
            Delete Match
          </button>
        </form>
      </div>

      <script>
        function confirmDelete() {
          if (confirm("Are you sure you want to delete this match?")) {
            document.getElementById("deleteForm").submit();
          }
        }
      </script>
    </div>
  </body>
</html>

