<html>
<head>
    <title>Registration</title>
</head>
<body>
    <form action="ValidRegistration.html">
    
     <p>Enter the following data: </p>
     <p>Name</p>
     <input type='text' name='playerName'/>
     <p>Surnames</p>
     <input type='text' name='surnames'/>
     <p>Country</p>
     <input type='text' name='country'/>
     <p>Age</p>
     <input type='text' name='age'/>
     <p>Height</p>
     <input type='text' name='height'/>
     <p>Weight</p>
     <input type='text' name='weight'/>
     <br> <br>
     <label for "hand"> Skilled hand</label>
     <br><br>
     <select name="hand" id="hand">
        <option value="right">Right</option>
        <option value="left">Left</option>
        <option value="ambidextrous">Ambidextrous</option>
    </select>
     <br><br>
     <label for "surface">Best surface</label>
     <br><br>
     <select name "surface" id="surface">
        <option value="clay">Clay</option>
        <option value="hard">Hard</option>
        <option value="grass">Grass</option>
        <option value="indoor">Indoor</option>
    </select>
    <br><br>
     <input type='submit' value='Register'/>
    </form>

    </body>
    
</html>