<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit player</title>
    <link rel="stylesheet" href="/css/FormsStyle.css" />
</head>
{{> header}}
<body>
     <form action="/players/update" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="hidden" name="id" value="{{player.id}}">
        <div style="margin-left: 10px">
        <p>Enter the following data: </p>
        <p>Name</p>
        <input type='text' name='name' value="{{player.name}}" required/>
        <p>Surnames</p>
        <input type='text' name='surname' value="{{player.surname}}"/>
        <br>
        <label for "country">Country</label>
        <br>
        <input list="countries" id="country" name="citizenship" value="{{player.citizenship}}"required>
        <datalist id="countries">
            <option value="Spain">
            <option value="France">
            <option value="Italy">
            <option value="Germany">
            <option value="United Kingdom">
            <option value="United States">
            <option value="China">
            <option value="Japan">
            <option value="Russia">
            <option value="Brazil">
            <option value="Argentina">
            <option value="Australia">
            <option value="Canada">
            <option value="India">
            <option value="Mexico">
            <option value="South Africa">
            <option value="South Korea">
            <option value="Turkey">
            <option value="Sweden">
            <option value="Norway">
            <option value="Finland">
            <option value="Denmark">
            <option value="Netherlands">
            <option value="Belgium">
            <option value="Switzerland">
            <option value="Austria">
            <option value="Portugal">
            <option value="Greece">
            <option value="Poland">
            <option value="Czech Republic">
            <option value="Hungary">
            <option value="Romania">
            <option value="Bulgaria">
            <option value="Croatia">
            <option value="Serbia">
            <option value="Slovenia">
            <option value="Slovakia">
            <option value="Ukraine">
            <option value="Belarus">
            <option value="Lithuania">
            <option value="Latvia">
            <option value="Estonia">
            <option value="Ireland">
            <option value="Scotland">
            <option value="Wales">
            <option value="Northern Ireland">
            <option value="Iceland">
            <option value="Greenland">
            <option value="New Zealand">
        </datalist>
        <p>Age</p>
        <input type='text' name='age' value="{{player.age}}"required />
        <p>Height (cm)</p>
        <input type='text' name='height' value="{{player.height}}" required />
        <p>Weight (kg)</p>
        <input type='text' name='weight' value="{{player.weight}}" required />
        <br> 
        <label for "hand"> Skilled hand</label>
        <br>
        <select name="bestHand" id="hand" value="{{player.bestHand}}">
            <option value="RIGHT">Right</option>
            <option value="LEFT">Left</option>
            <option value="BOTH">Ambidextrous</option>
        </select>
        <br>
        <label for "bestSurface">Best surface</label>
        <br>
        <select name="bestSurface" id="surface" value="{{player.bestSurface}}" required>
            <option value="CLAY">Clay</option>
            <option value="HARD">Hard</option>
            <option value="GRASS">Grass</option>
            <option value="INDOOR">Indoor</option>
        </select>
        <br><br>
        <input type='submit' value='Update' />
        </form>
    </div>


</body>

</html>