{{> header}}

<h1>Estadísticas del Equipo</h1>

<table>
  <tr>
    <th>ID</th>
    <td>{{team.id}}</td>
  </tr>
  <tr>
    <th>Jugador 1</th>
    <td>{{team.player1.name}} {{team.player1.surname}}</td>
  </tr>
  <tr>
    <th>Jugador 2</th>
    <td>{{team.player2.name}} {{team.player2.surname}}</td>
  </tr>
  <tr>
    <th>Victorias</th>
    <td>{{team.winsTeam}}</td>
  </tr>
  <tr>
    <th>Derrotas</th>
    <td>{{team.lossesTeam}}</td>
  </tr>
  <tr>
    <th>Porcentaje de Victorias</th>
    <td>{{team.winrateTeam}}%</td>
  </tr>
  <tr>
    <th>Ranking</th>
    <td>{{team.ranking}}</td>
  </tr>
  <tr>
    <th>Puntos</th>
    <td>{{team.points}}</td>
  </tr>
</table>
<form
          id="deleteForm"
          action="/teams/delete/{{team.id}} "
          method="post"
        >
          <button
            type="button"
            onclick="confirmDelete()"
            style="
              background-color: red;
              color: white;
              padding: 10px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
            Delete Team
          </button>
        </form>
      </div>

      <script>
        function confirmDelete() {
          if (confirm("Are you sure you want to delete this team?")) {
            document.getElementById("deleteForm").submit();
          }
        }
      </script>

<a href="/teams/list">Volver a la lista de equipos</a>
