<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team stats</title>
    <link rel="stylesheet" href="/css/DetailsStyle.css" />
    <style>
      th:nth-child(1),
      td:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 20%;
      }
    </style>
  </head>
  {{> header}}
  <body>

    <div class="table-container">
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{team.name}}</td>
          </tr>
          <tr>
            <td>ID</td>
            <td>{{team.id}}</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>
              <a href="/players/{{team.player1.id}}"
                >{{team.player1.name}} {{team.player1.surname}}</a
              >
            </td>
          </tr>
          <td>Player 2</td>
          <td>
            <a href="/players/{{team.player2.id}}"
              >{{team.player2.name}} {{team.player2.surname}}</a
            >
          </td>
          <tr>
            <td>Wins</td>
            <td>{{team.winsTeam}}</td>
          </tr>
          <tr>
            <td>Losses</td>
            <td>{{team.lossesTeam}}</td>
          </tr>
          <tr>
            <td>Winrate</td>
            <td>{{team.winrateTeam}}%</td>
          </tr>
          <tr>
            <td><a href="/teams/list">Ranking</a></td>
            <td>{{team.ranking}}</td>
          </tr>
          <tr>
            <td>Total points</td>
            <td>{{team.points}}</td>
          </tr>
        </tbody>
      </table>
      <form
            id="deleteForm"
            action="/teams/delete/{{team.id}} "
            method="post"
          >
          <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button
              type="button"
              onclick="confirmDelete()"
              style="
                background-color: red;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              "
            >
              Delete Team
            </button>
          </form>
        </div>
  
        <script>
          function confirmDelete() {
            if (confirm("Are you sure you want to delete this team?")) {
              document.getElementById("deleteForm").submit();
            }
          }
        </script>
    </div>
  </body>
</html>
