<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tournament bracket</title>
    <link rel="stylesheet" href="/css/DetailsStyle.css" />
    <link rel="stylesheet" href="/css/BracketStyle.css" />
  </head>
  {{> header}}
  <body>
    <div class="table-container">
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{tournament.name}}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{tournament.dateT}}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{tournament.location}}</td>
          </tr>
          <tr>
            <td>Surface</td>
            <td>{{tournament.surface}}</td>
          </tr>
          <tr>
            <td>Points</td>
            <td>{{tournament.givenPoints}}</td>
          </tr>
          <tr>
            <td>Prize money</td>
            <td>{{tournament.prizeMoney}}</td>
          </tr>
        </tbody>
      </table>

      <div class="bracket">
        <div class="column">
          {{#matches}}
            <a href="/teams/{{homeTeam.id}}"><div class="match">{{homeTeam.name}}</div></a>
            <a href="/teams/{{awayTeam.id}}"><div class="match">{{awayTeam.name}}</div></a>
          {{/matches}}
        </div>
        <div class="column">
          {{#matches}}
          <a href="/matches/{{id}}"><div class="match">{{homeTeam.name}} vs {{awayTeam.name}}</div></a>
          {{/matches}}
        </div>
        <div class="column">
            <div class="match">Semifinal A</div>
            <div class="match">Semifinal B</div>
        </div>
        <div class="column">
            <div class="match">Final</div>
        </div>    
    </div>
    <form
        id="deleteForm"
        action="/tournaments/delete/{{tournament.id}}"
        method="post"
      >
        <button
          type="button"
          onclick="confirmDelete()"
          style="
            background-color: red;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          "
        >
          Delete Tournament
        </button>
      </form>

    <script>
      function confirmDelete() {
        if (confirm("Are you sure you want to delete this tournament?")) {
          document.getElementById("deleteForm").submit();
        }
      }
    </script>
  </body>
</html>
