<html>
<head>
    <title>Sign up</title>
</head>
{{> header}}
<body>
    <form action="ValidUserRegistration.html">
        <link rel="stylesheet" href="/css/FormsStyle.css" />
        <p>Enter the following data: </p>
        <p>Username</p>
        <input type="text" name="userName"/>
        <p>Password</p>
        <input type="password" name="password"/>
        <p>Repeat password</p>
        <input type="password" name="password"/>
        <p>E-mail</p>
        <input type="text" name="email"/>
        <p>Foto de perfil (opcional): </p>
        <input type="file" name="profilePicture"/>
        <input type="submit" value="Register"/>
</body>
</html>