<html>
<head>
    <title>Sign up</title>
</head>

<body>
    <form action="ValidUserRegistration.html">
        <p>Enter the following data: </p>
        <p>Username</p>
        <input type="text" name="userName"/>
        <p>Password</p>
        <input type="password" name="password"/>
        <p>Repeat password</p>
        <input type="password" name="password"/>
        <br> 
        <p>E-mail</p>
        <input type="text" name="email"/>
        <br> <br>
        <p>Foto de perfil (opcional): </p>
        <input type="file" name="profilePicture"/>
        <img src="profilePicture" alt="Profile picture" width="100" height="100">
        <br><br>
        <input type="submit" value="Register"/>
</body>
</html>