<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/DetailsStyle.css" />
    <style>
      th:nth-child(1),
      td:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 20%;
      }
    </style>
    {{>header}}
  </head>
  <body>
    <div class="table-container">
      <table>
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{user.id}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>Team</td>

            <td>
              {{#user.team}} {{name}} {{/user.team}} {{^user.team}} None
              {{/user.team}}
            </td>
          </tr>
        </tbody>
      </table>
      <form id="deleteForm" action="/users/delete/{{user.id}}" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button
          type="button"
          onclick="confirmDelete()"
          style="
            background-color: red;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          "
        >
          Delete User
        </button>
      </form>
    </div>
    <script>
      function confirmDelete() {
        if (confirm("Are you sure you want to delete this player?")) {
          document.getElementById("deleteForm").submit();
        }
      }
    </script>
  </body>
</html>
